<section class="section" id="service">
  <div class="container">
    <h2 class="mb-5 pb-4"><span class="text-danger">My</span> Projects</h2>
    <div class="row">
      <!-- @* first project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5 ">
          <div class="card-header has-icon">
            <i class="ti-book text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Education Empower ERP</h5>
            <p class="subtitle">The Education Empower ERP is an all-in-one solution for educational institutions, featuring modules for
              <strong>Admin</strong>, <strong>Accountant</strong>, <strong>Counselor</strong>, <strong>Trainer</strong>,
              <strong>Student</strong>, <strong>Coordinator</strong>, <strong>Placement Coordinator</strong>, and
              <strong>HR</strong>. It simplifies administrative tasks, financial management, course coordination, and placement
              processes, enhancing efficiency and communication across departments for a seamless experience.</p>
            </div>
        </div>
      </div>
      <!-- @* 2 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-user text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Job portal</h5>
            <P class="subtitle">he Job Portal connects job seekers with employers, offering a platform for users to explore and
              apply for job opportunities. With features like advanced search filters, personalized job recommendations, and easy
              resume uploads, it helps users find the right job quickly and efficiently. Employers can also post job listings,
              review candidate applications, and manage hiring processes, making it a comprehensive tool for both job seekers and
              recruiters.</P>

          </div>
        </div>
      </div>
      <!-- @* 3 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-link text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Royal Vivah</h5>
            <P class="subtitle">Royal Vivah is a matrimonial web portal designed to help users find their ideal match. It allows
              brides and grooms to create profiles and search for potential partners based on various criteria such as location,
              interests, and preferences. With its user-friendly interface, Royal Vivah makes it easier to connect, communicate, and
              build meaningful relationships, offering a personalized matchmaking experience for every individual.</P>

          </div>
        </div>
      </div>
      <!-- @* 4 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-shopping-cart text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">E-commerce</h5>
            <p class="subtitle">The E-commerce website offers a platform for buying and selling goods across various categories. With an intuitive
              interface, users can browse products, add them to their carts, and complete purchases securely. Sellers can list their
              products, manage inventory, and track sales, creating a seamless online shopping experience for both buyers and
              vendors.</p>

          </div>
        </div>
      </div>
      <!-- @* 5 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-id-badge text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">HR Forum</h5>
            <p class="subtitle">The HR Forum is a portal that connects HR professionals and job candidates. It provides a platform for HRs to post
              job openings and review candidate applications, while candidates can browse job opportunities, submit resumes, and
              track their application status. This collaborative space streamlines the recruitment process, making it easier for HRs
              to place candidates in the right roles within companies.</p>

          </div>
        </div>
      </div>
      <!-- @* 6 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-check-box text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Ticketing Tool</h5>
            <p class="subtitle">The Ticketing Tool is a custom web platform designed to help companies track and manage employee issues efficiently.
              Employees can submit tickets detailing their concerns, which are then sorted and prioritized based on urgency. HR and
              IT teams can easily monitor, resolve, and close issues, ensuring a streamlined process for addressing employee needs
              and improving overall workplace productivity.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section bg-dark py-5" hidden>
  <div class="container text-center">
    <h2 class="text-light mb-5 font-weight-normal">I Am Available For FreeLance</h2>
    <button class="btn bg-primary w-lg">Hire me</button>
  </div>
</section>
