<section class="section" id="service">
  <div class="container">
    <h2 class="mb-5 pb-4"><span class="text-danger">My</span> Projects</h2>
    <div class="row">
      <!-- @* first project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-vector text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Education Empower ERP</h5>
            <P class="subtitle">Worked on this Priject for a year.This project contains </P>
          </div>
        </div>
      </div>
      <!-- @* 2 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-write text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Job portal</h5>
            <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident,
              dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi,
              unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla
              aperiam officia.</P>
          </div>
        </div>
      </div>
      <!-- @* 3 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-package text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Royal Vivah</h5>
            <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident,
              dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi,
              unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla
              aperiam officia.</P>
          </div>
        </div>
      </div>
      <!-- @* 4 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-map-alt text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">E-commerce</h5>
                <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident,
                  dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi,
                  unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt
                  nulla aperiam officia.</P>
          </div>
        </div>
      </div>
      <!-- @* 5 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-bar-chart text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">HR Forum</h5>
            <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident,
              dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi,
              unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla
              aperiam officia.</P>
          </div>
        </div>
      </div>
      <!-- @* 6 project here *@ -->
      <div class="col-md-4 col-sm-6">
        <div class="card mb-5">
          <div class="card-header has-icon">
            <i class="ti-support text-danger" aria-hidden="true"></i>
          </div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">Ticketing Tool</h5>
            <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident,
              dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi,
              unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla
              aperiam officia.</P>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section bg-dark py-5">
  <div class="container text-center">
    <h2 class="text-light mb-5 font-weight-normal">I Am Available For FreeLance</h2>
    <button class="btn bg-primary w-lg">Hire me</button>
  </div>
</section>
