<section class="section" id="resume">
  <div class="container">
      <h2 class="mb-5"><span class="text-danger">My</span> Resume</h2>
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="card">
                  <div class="card-header">
                      <div class="mt-2">
                          <h4>Expertise</h4>
                          <span class="line"></span>
                      </div>
                  </div>
                  <div class="card-body">
                      <h6 class="title text-danger">2024 - Present</h6>
                      <P>Web Developer</P>
                      <P class="subtitle">I am currenty working on some web projects, job portal , matrimony protal,Education erp.Currently focusing on the edcation erp project. </P>
                      <hr>
                      <h6 class="title text-danger">2023 - 2024 </h6>
                      <P>Web Developer</P>
                      <P class="subtitle">Started to eork with the web technologies like ASP.Net , ASP.Net MVC. </P>
                      <hr>
                      <h6 class="title text-danger">2023 - Sept</h6>
                      <P>Software Designer</P>
                      <P class="subtitle">Working on the standalone software for education erp module and Ticketing tool.</P>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card">
                  <div class="card-header">
                      <div class="mt-2">
                          <h4>Education</h4>
                          <span class="line"></span>
                      </div>
                  </div>
                  <div class="card-body">
                      <h6 class="title text-danger">2019 - 2023</h6>
                      <P>B.E E & TC Engineering</P>
                      <P class="subtitle">I have completed my degree in the Electronics and Telecomunication department.I have gain plus grades the distiction in the all the four years. Also done poster presentations,project presentation and managed the sport days event.</P>
                      <hr>
                      <h6 class="title text-danger">2017 - 2019</h6>
                      <P>HSC</P>
                      <P class="subtitle">I have obtained the 72.15% marks In HSC.</P>
                      <hr>
                      <h6 class="title text-danger">2016 - 2017</h6>
                      <P>SSC</P>
                      <P class="subtitle">I have obtained the 76.40% marks in the SSC .</P>

                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="card">
                  <div class="card-header">
                      <div class="pull-left">
                          <h4 class="mt-2">Skills</h4>
                          <span class="line"></span>
                      </div>
                  </div>
                  <div class="card-body pb-2">
                      <h6>C#</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>hTL5 &amp; CSS3</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>ASP.Net</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>ASP.Net MVC</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>Entity Framework</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>SQL</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <div class="pull-left">
                          <h4 class="mt-2">Languages</h4>
                          <span class="line"></span>
                      </div>
                  </div>
                  <div class="card-body pb-2">
                      <h6>English</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>Hindi</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>Marathi</h6>
                      <div class="progress mb-3">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section bg-dark text-center">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-6 col-lg-3">
              <div class="row ">
                  <div class="col-5 text-right text-light border-right py-3">
                      <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                  </div>
                  <div class="col-7 text-left py-3">
                      <h1 class="text-danger font-weight-bold font40">500+</h1>
                      <p class="text-light mb-1">Hours Worked</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="row">
                  <div class="col-5 text-right text-light border-right py-3">
                      <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                  </div>
                  <div class="col-7 text-left py-3">
                      <h1 class="text-danger font-weight-bold font40">5</h1>
                      <p class="text-light mb-1">Project Finished</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="row">
                  <div class="col-5 text-right text-light border-right py-3">
                      <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                  </div>
                  <div class="col-7 text-left py-3">
                      <h1 class="text-danger font-weight-bold font40">10</h1>
                      <p class="text-light mb-1">Happy Clients</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="row">
                  <div class="col-5 text-right text-light border-right py-3">
                      <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                  </div>
                  <div class="col-7 text-left py-3">
                      <h1 class="text-danger font-weight-bold font40">2k</h1>
                      <p class="text-light mb-1">Tea Drinked</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
